# Environnement virtuel
.venv/

# Cache Python
__pycache__/
*.pyc

# Fichiers système
.DS_Store

# Modèles téléchargés
yolov8n.pt

# Variables d'environnement
.env
.env.local
.env.*.local

# Donnees brutes locales
data/raw/
