# Environnement virtuel
.venv/

# Cache Python
__pycache__/
*.pyc

# Fichiers système
.DS_Store

# Modeles telecharges
yolov8n.pt
yolov8s.pt

# Variables d'environnement
.env
.env.local
.env.*.local

# Donnees brutes locales
data/raw/

# Images augmentees locales
data/processed/bdd100k/augmented/images/

# Fichiers de packaging generes
*.egg-info/
